<link rel="stylesheet" href="app/assets/stylesheets/application.css"/>

<h1>OctoShop</h1>

<table style="width:100%">
  <tr>
<!--     <th><em></em></th> -->
    <th><em>Item</em></th> 
    <th><em>Description</em></strong></th>
    <th><em># Taken</em></th>
    <!-- <th><em>Size</em></th> -->
    <th><em>Took One</em></th>
    <th><em>J/k</em></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
<!--     <td><img style="width:150px;" src="http://i.imgur.com/i5YZEdq.png?1"></td> -->
    <td><%= topic.title %></td>
    <td><%= topic.description %></td>
    <td><%= pluralize(topic.votes.length, "Shirts") %></td>
    <!-- <td>
      <fieldset>
          <select name="Shirt Size">
            <option>Select One</option>
              <optgroup label="Womens">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </optgroup>
              <optgroup label="Mens">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>Extra Large</option>
              </optgroup>
          </select>
      </fieldset>
    </td> -->
    <td><%= button_to '+1', votes_path(topic_id: topic.id),  method: :post %></td>
    <td><%= button_to '-1', votes_path(topic_id: topic.id),  method: :delete %></td>
    <td id="delete"><%= link_to 'Edit', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shirt', new_topic_path %>
